<div class="container mx-auto px-4">
  <h1>Dúvidas</h1>
  <div class="join join-vertical w-full">
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Quem pode participar?
      </div>
      <div class="collapse-content text-sm font-light">
        Qualquer pessoa pode participar do evento, basta
        <a class="font-bold text-blue-500 underline" href="https://fctapp.cacic.dev.br/eventos" target="_blank">
          realizar a sua inscrição aqui
        </a>.
      </div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Como realizo a minha inscrição?
      </div>
      <div class="collapse-content text-sm font-light">
        1. Faça login no site;
        <br />
        <br />
        2. Selecione até 3 minicursos.
        <br />
        Confira se não há choque de horário entre eles e clique no botão de confirmação ✓;
        <br />
        <br />
        3. Confira os minicursos selecionados e confirme;
        <br />
        <br />
        4. Realize o pagamento conforme as instruções e envie o comprovante.
        <br />
        Não se esqueça de incluir o nome completo do participante no comentário do pix!;
        <br />
        <br />
        5. Aguarde a confirmação do pagamento.
      </div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Como realizo o pagamento?
      </div>
      <div class="collapse-content text-sm font-light">
        <!-- TODO: Em toda SECOMPP, preencher o fluxo de pagamento de acordo com o que consta no FCT App -->
        Após realizar a sua inscrição, você visualizará as instruções para o pagamento.
        <br />
        Para a sua comodidade, faça uma transferência utilizando a chave Pix ou os dados da conta bancária.
        <br />
        <br />
        <b>FUNDACTE - Fundação de Ciência Tecnologia e Ensino</b>
        <br />
        <b>Chave Pix (CNPJ):</b> 00.395.519/0001-16
        <br />
        <br />
        <b>Banco 033 - Santander</b>
        <br />
        <b>Agência:</b> 4299
        <br />
        <b>Conta corrente:</b> 13001302-0
        <br />
        <br />
        Anexe o comprovante do pagamento
        <a class="font-bold" target="_blank" href="https://fctapp.cacic.dev.br/inscricoes">no site</a>.
        <br />
      </div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Haverá emissão de certificado de participação?
      </div>
      <div class="collapse-content text-sm font-light">
        Sim, tendo realizado a sua inscrição e efetuado o pagamento, haverá a emissão de certificados após a confirmação
        da sua presença nos minicursos ou palestras.
      </div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Há algum tipo de evento livre para participação?
      </div>
      <div class="collapse-content text-sm font-light">
        Sim, todas as palestras são abertas ao público. No entanto, os certificados só serão gerados aos participantes
        pagantes.
      </div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Preciso levar meu notebook para os minicursos?
      </div>
      <div class="collapse-content text-sm font-light">
        Recomenda-se levar o próprio computador para a realização dos minicursos. Não se esqueça de instalar, com
        antecedência, os programas necessários!
        <br /><br />
        Caso você não tenha um notebook, os computadores dos laboratórios estarão com os programas necessários instalados.
      </div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Haverá pausa para o café?
      </div>
      <div class="collapse-content text-sm font-light">Sim, haverá uma pausa durante os intervalos dos minicursos.</div>
    </div>
    <div class="collapse join-item collapse-arrow border border-base-300">
      <input type="radio" name="my-accordion-4" class="peer" />
      <div class="collapse-title text-base font-semibold peer-checked:text-[var(--primary-color)]">
        Haverá intervalo para o almoço?
      </div>
      <div class="collapse-content text-sm font-light">
        <!-- TODO: Em toda SECOMPP, atualize o horário -->
        Sim, o intervalo será das 12:00 às 14:00.
      </div>
    </div>
  </div>
</div>
