---
import logoVericode from '@lib/img/vericode.svg';
import logoCobmais from '@lib/img/cobmais.avif';
import logoVunesp from '@lib/img/vunesp.svg';
import { Image } from 'astro:assets';
import logoSecompp from '/src/assets/img/secompp24-logo.svg';
---

<header class="header-bg">
  <div class="container mx-auto">
    <div class="intro-text text-center">
      <div class="intro-lead-in intro-lead-in-padding">
        <Image src={logoSecompp} alt="Logo SECOMPP 2024" class="secompp-logo mx-auto p-3" loading="eager" />
      </div>
      <div class="intro-heading text-center">
        <span class="fs-3 fw-semibold"> 21ª Semana do Curso de Ciência da Computação da FCT-Unesp </span>
      </div>
      <div class="intro-heading text-center">
        <!-- A inclusão do ano foi exigência do prof. Danilo -->
        <span class="fs-4 fw-light">Junte-se a nós de 30 de setembro a 05 de outubro de 2024</span>
      </div>
      <br />
      <br />
      <!-- TODO: É patrocínio ou apoio? -->
      <br />
      <a href="https://www.cobmais.com.br">
        <Image src={logoCobmais} alt="Cobmais" class="img-lg mx-auto" />
      </a>
      <br />
      <a href="https://vericode.com.br">
        <Image src={logoVericode} alt="Vericode" class="img-lg mx-auto" />
      </a>

      <br />
      <br />
      Apoio
      <br />
      <a href="https://www.vunesp.com.br/">
        <Image class="img-lg mx-auto" src={logoVunesp} alt="Vunesp" />
      </a>
      <br />
    </div>
  </div>
</header>

<style lang="postcss">
  .intro-lead-in-padding {
    padding: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .secompp-logo {
    max-width: 750px;
    width: 100%;
  }

  .header-bg {
    background: linear-gradient(0deg, black 0%, rgb(33, 32, 13) 100%);
    padding-top: 50px;
  }

  a img { 
    opacity: 1;
  transition: 0.3s;
  transition-property: opacity, background-color;

  &:hover {
    opacity: 0.5;
  }
  }
</style>
