---
import logoRubcube from '@lib/img/rubcube.svg';
import logoRocketseat from '@lib/img/rocketseat.svg';
// import logoVunesp from '@lib/img/vunesp.svg';
// import ImgLink from './Footer/ImgLink.svelte';
import { Image } from 'astro:assets';
import logoSecompp from '/src/assets/img/secompp22-logo.svg';
---

<header class="header-bg">
  <div class="container mx-auto">
    <div class="intro-text text-center">
      <div class="intro-lead-in intro-lead-in-padding">
        <Image src={logoSecompp} alt="Logo SECOMPP 2022" class="secompp-logo mx-auto p-3" loading="eager" />
      </div>
      <div class="intro-heading text-center">
        <span class="fs-3 fw-semibold"> 19ª Semana do Curso de Ciência da Computação da FCT-Unesp </span>
      </div>
      <div class="intro-heading text-center">
        <!-- A inclusão do ano foi exigência do prof. Danilo -->
        <span class="fs-4 fw-light">Junte-se a nós de 17 a 21 de outubro de 2022</span>
      </div>
      <br />
      <br />
      Patrocínio:
      <br />
      <a href="https://www.rubcube.com" target="_blank">
        <Image src={logoRubcube} alt="Rubcube" class="img-lg mx-auto" />
      </a>

      <br />
      <br />
      Apoio:
      <br />
      <a href="https://www.rocketseat.com.br/" target="_blank">
        <Image class="img-lg mx-auto" src={logoRocketseat} alt="Rocketseat" />
      </a>
      <br />
      <!-- <ImgLink href="https://www.vunesp.com.br/" size="lg" marginHorizontalAuto src={logoVunesp} alt="Vunesp" /> -->
    </div>
  </div>
</header>

<style lang="postcss">
  .intro-lead-in-padding {
    padding: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .secompp-logo {
    max-width: 750px;
    width: 100%;
  }

  .header-bg {
    background: linear-gradient(0deg, black 0%, rgb(33, 32, 13) 100%);
    padding-top: 50px;
  }

  a img { 
    opacity: 1;
  transition: 0.3s;
  transition-property: opacity, background-color;

  &:hover {
    opacity: 0.5;
  }
  }
</style>
