<div class="container mx-auto sm:px-4">
  <div class="flex flex-wrap gap-8">
    <div class="w-full pl-4 pr-4">
      <h1 class="mb-2 text-4xl font-medium">Localização</h1>
      <div class="map-container">
        <iframe
          width="100%"
          height="300"
          title="Map"
          style="border: 8px"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVY40T87ywPBvI98OCCNHrivvLlZM2n6k&region=BR&language=pt-BR&q=Faculdade de Ciências e Tecnologia - Câmpus de Presidente Prudente"
        ></iframe>
      </div>
    </div>
    <div class="w-full pl-4 pr-4">
      <h1 class="mb-2 text-4xl font-medium">Inscrições</h1>
      <div class="scrolling-touch block w-full overflow-auto">
        <table class="w-full max-w-full bg-transparent">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="h-16 border-b-2 border-t-2">
            <tr>
              <td>Valor da inscrição</td>
              <td aria-label="35 reais">R$ 35,00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
