---
import Map from './Map.astro';
import EventPriceTable from './EventPriceTable.svelte';
---

<div class="container mx-auto sm:px-4">
  <div class="flex flex-wrap gap-8">
    <div class="w-full pr-4 pl-4">
      <h1 class="mb-2 text-4xl font-medium">Inscrições</h1>
      <div class="block w-full overflow-auto">
        <EventPriceTable client:load />
      </div>
    </div>
    <div class="w-full pr-4 pl-4">
      <h1 class="mb-2 text-4xl font-medium">Localização</h1>
      <div class="map-container">
        <Map />
      </div>
    </div>
  </div>
</div>
