---
import Map from './Map.astro';
---

<div class="container mx-auto sm:px-4">
  <div class="flex flex-wrap gap-8">
    <div class="w-full pl-4 pr-4">
      <h1 class="mb-2 text-4xl font-medium">Inscrições</h1>
      <div class="scrolling-touch block w-full overflow-auto">
        <table class="w-full max-w-full bg-transparent">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="h-16 border-b-2 border-t-2">
            <tr>
              <td>Valor da inscrição</td>
              <td aria-label="30 reais">R$ 30,00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full pl-4 pr-4">
      <h1 class="mb-2 text-4xl font-medium">Localização</h1>
      <div class="map-container">
        <Map client:visible />
      </div>
    </div>
  </div>
</div>
