---
import { Menu } from 'lucide-astro';

import { Image } from 'astro:assets';
import logoSecompp from '/src/assets/img/secompp24-logo.svg';
---

<div
  class="brand-surface navbar border-base-300/70 bg-base-100/95 sticky top-0 z-50 border-b pr-5 pl-5 backdrop-blur"
  data-theme="secompp">
  <div class="navbar-start">
    <a href="/#" class="p-0">
      <Image
        src={logoSecompp}
        class="img-clickable py-1"
        width="150"
        alt="Logo da SECOMPP 2024"
        loading="eager"
        fetchpriority="high"
      />
    </a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost p-0 lg:hidden" aria-label="Menu de navegação">
        <Menu class="h-5 w-5" />
      </div>
      <ul
        class="menu dropdown-content menu-lg rounded-box border-base-300 bg-base-200 z-[1] mt-3 w-56 border p-2 shadow-xl">
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#programacao">Programação</a></li>
        <li><a href="#duvidas">Dúvidas</a></li>
        <li><a href="#footer">Apoio</a></li>
        <a class="btn btn-primary mt-2" href="https://eventos.cacic.dev.br/app/major-event">Inscrever-se</a>
      </ul>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#programacao">Programação</a></li>
        <li><a href="#duvidas">Dúvidas</a></li>
        <li><a href="#footer">Apoio</a></li>
      </ul>
      <a class="btn btn-primary" href="https://eventos.cacic.dev.br/app/major-event">Inscrever-se</a>
    </div>
  </div>
</div>
