---
import { Menu } from 'lucide-astro';

import { Image } from 'astro:assets';
import logoSecompp from '/src/assets/img/secompp24-logo.svg';
---

<div class="navbar sticky top-0 z-50 bg-base-100 pl-5 pr-5">
  <div class="navbar-start">
    <a href="/#" class="p-0">
      <Image src={logoSecompp} class="img-clickable py-1" width="150" alt="Logo da SECOMPP 2024" loading="eager" />
    </a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost p-0 lg:hidden">
        <Menu class="h-5 w-5" />
      </div>
      <ul class="menu dropdown-content menu-lg z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow">
        <li><a href="#sobre">Sobre</a></li>
        <!-- <li><a href="#programacao">Programação</a></li> -->
        <li><a href="#duvidas">Dúvidas</a></li>
        <li><a href="#footer">Apoio</a></li>
        <!-- TODO: Alterar placeholder -->
        <a class="btn" href="PLACEHOLDER">Inscrever-se</a>
      </ul>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="#sobre">Sobre</a></li>
        <!-- <li><a href="#programacao">Programação</a></li> -->
        <li><a href="#duvidas">Dúvidas</a></li>
        <li><a href="#footer">Apoio</a></li>
      </ul>
      <!-- TODO: Alterar placeholder -->
      <a class="btn" href="PLACEHOLDER">Inscrever-se</a>
    </div>
  </div>
</div>
