---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.pcss"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content="https://secompp.ejcomp.com.br" />
    <meta property="og:title" content="SECOMPP22" />
    <meta property="og:site_name" content="SECOMPP22" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Semana da Computação de Presidente Prudente 2022 - Minicursos, palestras e mais!" />
    <meta property="og:image" content="https://secompp.ejcomp.com.br/images/logo-og.png" />

		<meta name="viewport" content="width=device-width" />

		<script is:inline defer data-domain="secompp.yudi.me" src="https://plausible.fctapp.yudi.me/js/script.js"></script>
	</head>
	<body>
		<Nav />
		<slot />
		<Footer / > 
	</body>
</html>

